{% load i18n %}
<label>{% trans 'auth_key' %}</label>
{%if identity.key %}
    {% if identity.is_virtual %}
    <label class="error">
    {{identity.key}}
    </label>
    {% else %}
    {{identity.key}}
    {% endif %}
    {% if perms.identity.change_identity %}
        {% if update_next %}
        <a class="form-style" href="{% url 'off.identity:update_key' identity.key %}?next={{update_next|urlencode}}">{% trans 'update' %}</a>
        {% else %}
        <a class="form-style" href="{% url 'off.identity:update_key' identity.key %}">{% trans 'update' %}</a>
        {% endif %}
    {% endif %}

{% else %}
    {% trans 'no_auth_key' %}
{% endif %}
{% if identity.is_virtual %}
    {% trans 'virtual_identity_key_info' as virtual_identity_key_info%}
    {% if virtual_identity_key_info %}
    <p class="info center">
        {{virtual_identity_key_info}}
    </p>
    {% endif %}
{% endif %}